[Unit]
Description=Ansible GitOps Service
After=network.target

[Service]
Type=simple
User=vincent
Group=vincent
WorkingDirectory=/home/vincent/Projects/test-action
ExecStart=/usr/local/bin/ansible-gitops \
    --playbook=test-playbook.yml \
    --interval=300 \
    --repos=/home/vincent/Projects/test-action \
    --branch=main \
    --github-token="YOUR_GITHUB_TOKEN" \
    --github-user=vinnie-kaboom
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 