[Unit]
Description=Ansible GitOps Service
After=network.target

[Service]
Type=simple
User=vincent
WorkingDirectory=/home/vincent/Projects/ansible-gitops-test
ExecStart=/usr/local/bin/ansible-gitops \
    --playbook=test-playbook.yml \
    --interval=300 \
    --repos="https://github.com/vinnie-kaboom/ansible-gitops-test" \
    --branch=main \
    --github-token="YOUR_GITHUB_USERNAME" \
    --github-user="vinnie-kaboom"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 